opencv-python==4.12.0
numpy==2.3.4
torch==2.9.0
dronekit==2.9.2
pyserial==3.5
future==1.0.0
pandas==2.3.3
requests==2.32.5
pillow==12.0.0
tqdm==4.67.1
torchvision==0.24.0
matplotlib==3.10.7
seaborn==0.13.2
pyyaml==6.0.3
scipy==1.16.2